.header__logo {
  max-width: 142px;
  width: 100%;
  object-fit: cover;
  margin: 45px 0 40px;
}

@media screen and (min-width: 320px) and (max-width: 880px) {
  .header__logo {
    max-width: 103.7px;
    padding-left: 24px;
    margin: 28px 0 31px;
  }
}