.header {
  display: flex;
  flex-direction: column;
  max-width: 880px;
  margin: 0 auto;
  height: 119px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (min-width: 320px) and (max-width: 880px) {
  .header {
    height: 83px;
  } 
}