.popup__container_image_light-box {
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0px;
    position: fixed;
    z-index: 10;
    padding: 39px 0 37px 0;
    max-width: max-content;
}

.popup__container_image_light-box::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: -1;
}
