.profile__text {
    margin: 0 0 0 30px;
    padding: 0;
    align-self: center;
    list-style: none;
} 

@media screen and (min-width: 320px) and (max-width: 880px) {
    .profile__text {
        flex-direction: column;
        text-align: center;
        margin: 0;
    }
}