.profile__edit-btn {
    background-color: transparent;
    height: 24px;
    width: 24px;
    border: none;
    cursor: pointer;
    margin: 36px 0 0 16px;
    background-image: url(../../../img/Edit\ Button.svg);
    background-size: cover;
}

.profile__edit-btn:hover {
    opacity: 60%;
    transition: .3s;
} 

@media screen and (min-width: 320px) and (max-width: 767px) {
   .profile__edit-btn {
    margin: 8px 0 0 10px;
    height: 18px;
    width: 18px;
   }
}