.card__btn {
  min-width: 22px;
  height: 19px;
  border: hidden;
  background: none;
  cursor: pointer;
  background-image: url("../../../img/Vector\(2\).svg");
}

.card__btn:hover {
  opacity: 50%;
  transition: .3s;
}