.pop-up__container{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 430px;
    min-height: 330px;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50% );
    z-index: 10;
}

@media screen and (min-width: 320px) and (max-width: 428px) {
    .pop-up__container {
        max-width: 288px;
    }
}